body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: url("assets/image.webp") no-repeat center center/cover;
    font-family: Arial, sans-serif;
}

#top-banner, 
#bottom-banner {
    width: 400px;
    height: 55px;
}

#game-container {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

#score-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.score-item {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: #ec45f5;
    background: black;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: -1px;
}

#score {
    font-size: 16px; 
    color: #ec45f5;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
    letter-spacing: -1px; 
}

#made-by {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
}
